@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
html {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
table {
    border-collapse: collapse;
}
table th {
    border:1px solid #000066;
    background:royalblue;
    text-align: center;
}
table td {
    border:1px solid #000066;
    background:#ffffff;
    text-align: center;
}
